<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Price Tracking System</title>
    <link rel="stylesheet" href="./style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/jspdf-autotable" defer></script>
    <script src="https://kit.fontawesome.com/cd0d448035.js" crossorigin="anonymous"></script>
    <script src="./script.js" defer></script>
</head>
<body>
    <div class="app" id="app">
        <div class="container">
            <h1>Suivi des Prix</h1>
        </div>
        <main>
            <section class="form-section" id="form-section">
                <h2>Suivi Modification Prix</h2>
                <form @submit.prevent="updatePrice" class="formulaire">
                    <div class="inputtext">
                        <label for="product-id">ID Produit :</label>
                        <div class="input-wrapper">
                            <input type="text" id="product-id" v-model="newEntry.id" @input="filterProductIDs" @blur="hideSuggestions" placeholder="Entrez l'ID du produit" required>
                            <ul v-if="showProductIDSuggestions && productIDSuggestions.length > 0" id="suggestions-list">
                                <li 
                                    v-for="(entry, index) in productIDSuggestions" 
                                    :key="entry.id" 
                                    @click="selectProduct(entry)">
                                    {{ entry.id }} - {{ entry.product }}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="input-wrapper">
                        <label for="product-name">Nom Produit :</label>
                        <input 
                            type="text" 
                            id="product-name" 
                            v-model="newEntry.product" 
                            @input="filterProducts" 
                            @blur="hideSuggestions" 
                            placeholder="Entrez le nom du produit" 
                            required>
                        <ul v-if="showProductSuggestions && productSuggestions.length > 0" id="suggestions-list">
                            <li 
                                v-for="(product, index) in productSuggestions" 
                                :key="product.id" 
                                @click="selectProduct(product)">
                                {{ product.product }} (ID: {{ product.id }})
                            </li>
                        </ul>
                    </div>
                    <div class="inputtext">
                        <label for="new-price">Nouveau prix :</label>
                        <input type="number" id="new-price" v-model="newEntry.newPrice" step="0.01" required>
                    </div>
                    <div class="inputtext">
                        <label for="rayon">Rayon :</label>
                        <input type="text" id="rayon" v-model="newEntry.rayon" required>
                    </div>
                    <button class="submit" type="submit"> <span>Update Price</span></button>
                </form>
                <div class="addbtn">
                    <button @click="openModal" class="add-product-button"><i class="fa-solid fa-plus"></i> Ajouter un Produit</button>
                </div>
            </section>

            <div v-if="showModal" class="modal-overlay">
                <h2>Ajouter un Produit</h2>
                <div class="modal">
                    <form @submit.prevent="addProduct" class="modal-form">
                        <div class="inputtext">
                            <label for="modal-product-id">ID Produit :</label>
                            <input type="text" id="modal-product-id" v-model="modalEntry.id" placeholder="Généré automatiquement si vide">
                        </div>
                        <div class="inputtext">
                            <label for="modal-product-name">Nom Produit :</label>
                            <input type="text" id="modal-product-name" v-model="modalEntry.product" required>
                        </div>
                        <div class="inputtext">
                            <label for="modal-new-price">Prix :</label>
                            <input type="number" id="modal-new-price" v-model="modalEntry.newPrice" step="0.01" required>
                        </div>
                        <div class="inputtextid">
                            <label for="modal-rayon">Rayon :</label>
                            <input type="text" id="modal-rayon" v-model="modalEntry.rayon" required>
                        </div>
                    </form>
                    <div class="modal-buttons">
                        <button class="submit-modal" type="submit" @click="addProduct">Ajouter Produit</button>
                        <button class="cancel-modal" type="button" @click="closeModal">Annuler</button>
                    </div>
                </div>
            </div>

            <div class="returnprod">
                <section id="filters">
                    <div class="rayon">
                        <h2>Filtre par Rayon</h2>
                        <div class="selectrayon">
                            <label for="rayon-filter">Sélectionner un Rayon :</label>
                            <div class="choice">   
                                <select id="rayon-filter" v-model="selectedRayon">
                                    <option value="">All</option>
                                    <option v-for="rayon in uniqueRayons" :key="rayon" :value="rayon">{{ rayon }}</option>
                                </select>
                            </div> 
                        </div>
                    </div>
                    <div class="date">
                        <h2>Filtre par Date</h2>
                        <div class="selectdate">
                            <label for="date-filter">Sélectionner une Date :</label>
                            <input type="date" id="date-filter" v-model="selectedDate" />
                        </div>
                    </div>    
                    <div class="id-search">
                        <h2>Recherche par ID</h2>
                        <div class="input-wrapper">
                            <input 
                                type="text" 
                                id="id-filter" 
                                v-model="searchID" 
                                @input="filterSearchIDs" 
                                @blur="hideSuggestions" 
                                placeholder="Entrez un ID">
                            <ul v-if="showSearchIDSuggestions && searchIDSuggestions.length > 0" id="suggestions-list">
                                <li 
                                    v-for="(entry, index) in searchIDSuggestions" 
                                    :key="entry.id" 
                                    @click="selectID(entry)">
                                    {{ entry.id }} - {{ entry.product }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
                <section id="price-table">
                    <div class="titletable">
                        <h2>Price History</h2>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Product</th>
                                <th>Rayon</th>
                                <th>Old Price</th>
                                <th>New Price</th>
                                <th>Date</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(entry, index) in filteredHistory" :key="entry.id">
                                <td>{{ entry.id }}</td>
                                <td>
                                    <input v-if="entry.isEditing" type="text" v-model="entry.product">
                                    <span v-else>{{ entry.product }}</span>
                                </td>
                                <td>
                                    <input v-if="entry.isEditing" type="text" v-model="entry.rayon">
                                    <span v-else>{{ entry.rayon }}</span>
                                </td>
                                <td>{{ entry.oldPrice }}</td>
                                <td>{{ entry.newPrice }}</td>
                                <td>{{ formatDate(entry.date) }}</td>
                                <td class="actions">
                                    <button class="edit" v-if="!entry.isEditing" @click="editEntry(index)">Modifier</button>
                                    <button class="save" v-if="entry.isEditing" @click="saveEdit(index)">Enregister</button>
                                    <button class="cancel" v-if="entry.isEditing" @click="cancelEdit(index)">Retour</button>
                                    <button class="delete" @click="confirmDelete(index)">Supprimer</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <section id="task-section">
                        <h2>Ajouter des tâches au PDF</h2>
                        <div class="task-header">
                            <button class="add-task-button" @click="openTaskModal"><i class="fa-solid fa-plus"></i> Ajouter Tâches</button>
                        </div>
                        <div v-if="taskModalVisible" class="modal-overlay">
                            <h2>Ajouter une Tâche</h2>
                            <div class="modal">
                                <form @submit.prevent="addNewTask" class="modal-form">
                                    <div class="inputtext">
                                        <label for="new-task-name">Nom de la Tâche :</label>
                                        <input type="text" id="new-task-name" v-model="newTask" placeholder="Entrez le nom de la tâche" required>
                                    </div>
                                </form>
                                <div class="modal-buttons">
                                    <button class="submit-modal-task" type="submit" @click="addNewTask"><i class="fa-solid fa-check-to-slot"></i></button>
                                    <button class="cancel-modal-task" type="button" @click="closeTaskModal"><i class="fa-solid fa-ban"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="task">
                            <div class="card" 
                                v-for="task in tasks"
                                :key="task"
                                :class="{ active: isTaskSelected(task) }"
                                @click="toggleTask(task)">
                                <h3>{{ task }}</h3>
                            </div>
                        </div>
                    </section>
                    <div class="generatepdf">
                        <button @click="generatePDF" class="generate-pdf"><i class="fa-solid fa-download"></i>Télécharger le PDF</button>
                    </div>
                </section>
            </div>
        </main>
    </div>
</body>
</html>
