@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

*, 
*::before, 
*::after {
    box-sizing: border-box;
}
body {
    font-family: "Archivo", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: #f9fafb;
    color: #333;
}

.app {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 25px;
    border-radius: 40px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding: 15px;
    color: white;
    width: 97%;
    border-radius: 40px 40px 0 0;
    border-bottom: solid 1px #ccc;
    background-color: #19232e;
}
.container h1 {
    font-weight: 800;
    color: white;
    margin: 0;
}
main {
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    color: #fff;
    width: 97%;
    gap: 20px;
    border-radius: 0 0 40px 40px;
    background-color: #19232e;
}

h1, h2 {
    font-weight: 300;
    color: black;
    margin: 0;
}

.form-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    border-radius: 25px;
    background-color: #f9fafb;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
    padding: 20px;
    background-color: #f9fafb;
}
form label {
    display: flex;
    align-items: center;
    font-weight: 500;
    color: #555;
}

form input, form select, form button {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

form button {
    background: #4a90e2;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: 500;
    transition: background 0.3s;
}

form button:hover {
    background: #357ab8;
}

#filters {
    background: #f9fafb;
    padding: 20px;
    width: fit-content;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 80px; ;
}
.rayon, .date, .id-search {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: fit-content;
    border-radius: 25px;
    background-color: #f9fafb;
}
.selectrayon, .selectdate, .selectid {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 25px;
    color: #555;
    gap: 20px;
    background-color: #f9fafb;
}

#filters label {
    display: block;
    font-weight: 500;
}

#filters select, #filters input {
    width: auto;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    border-radius: 25px;
}

#suggestions-list {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid #ddd;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: absolute;
    z-index: 1000;
    background-color: white;
    width: 110%;
    max-height: 300px;
    overflow-y: auto;
}

#suggestions-list li {
    padding: 10px;
    color: #555;
    cursor: pointer;
    transition: background 0.3s;
}

#suggestions-list li:hover {
    background: #f1f1f1;
}

.input-wrapper {
    position: relative;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

th, td {
    padding: 15px;
    text-align: left;
    font-size: 16px;
    color: #555;
    border-bottom: 1px solid #ddd;
}

th {
    background: #4a90e2;
    color: #fff;
    font-weight: 500;
}

tr:nth-child(even) {
    background: #f9fafb;
}

tr:hover {
    background: #f1f1f1;
}

/* Limitation de la hauteur de la table */
table tbody {
    display: block;
    max-height: 400px; /* Ajuste cette valeur pour limiter la hauteur */
    overflow-y: auto; /* Barre de dÃ©filement verticale */
}

table thead,
table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

table tbody::-webkit-scrollbar {
    width: 8px;
}

table tbody::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

table tbody::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

button {
    padding: 10px 15px;
    background: #4a90e2;
    margin-right: 5px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #357ab8;
}

button:disabled {
    background: #ccc;
    cursor: not-allowed;
}

.returnprod {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    width: 100%;
    border-radius: 25px;
    background-color: #f9fafb;
}

.actions {
    gap: 20px;
}
.generatepdf {
    width: 100%;
    display: flex;
    justify-content: flex-end; /* Aligne le bouton Ã  droite */
    padding: 10px 0;
}
.generatepdf button{
    margin: 0;
}